body {
    text-align: center;
    font-size: 30px;
}



.wearein {
    background-color: black;
    text-align: center;
    padding-top: 300px;
    color: rgb(30, 255, 0);
    display: block;
    font-size: 80px;
    width: 1520px;
    height: 435px;
}

