<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="css/style.css">
    <title>Evaluación 1</title>
</head>
<body>
    <div id="app">
    <!-- Checkbox horizotales-->
      <template v-for="alien in aliens">
        <span>
          <input type="checkbox" v-model="seleccionados" :value="alien" class="check">
        </span> 
      </template>
    <!-- Saltos de línea -->
   <br>
   <br>
   <br>
    <!-- Imágenes ordenadas horizontalmente -->
    <span v-for="alien in seleccionados"><img :src="alien.imagen"></span>
   
    </div>
    <!-- enlace a VUEJS y JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js"></script>

  </body>
</html>